<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2 - Evaluación 3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estiloindex.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ejercicio 2</h1>
        <br><br>
        <form method="POST">
            <div class="form-group">
                <label for="nom1">Nombre 1:</label>
                <input type="text" id="nom1" name="nom1">
            </div>
            <div class="form-group">
                <label for="nom2">Nombre 2:</label>
                <input type="text" id="nom2" name="nom2">
            </div>
            <div class="form-group">
                <label for="nom3">Nombre 3:</label>
                <input type="text" id="nom3" name="nom3">
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Enviar Datos">
            </div>
        </form>

        {% if cantidad %}
        <div>
            <p class="negrita">El nombre con mayor cantidad de caracteres es: <span>{{ mayor }}</span>, el cual contiene: <span>{{ cantidad }}</span> caracteres.</p>
        </div>
        {% endif %}
        <br>
        <a href="/" class="button">Volver al Home</a>
    </div>
</body>
</html>


