<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estiloindex.css') }}">
</head>
<body>
    <div class="container">
        <div class="grid-container">
            <div class="grid-item" style="background-color: purple;">
                <a href="/ejercicio1">Ejercicio 1</a>
            </div>
            <div class="grid-item" style="background-color: limegreen;">
                <a href="/ejercicio2">Ejercicio 2</a>
            </div>
        </div>
    </div>
</body>
</html>
